$color1: #232323
$color2: #5954d6
$color3: #00c6f8
$color4: #006e00
$color5: #00a76c
$color6: #ff9287
$color7: #ebac23

Palette
$color1: #232323
$color2: #003f5c
$color3: #444e86
$color4: #955196
$color5: #dd5182
$color6: #ff6e54
$color7: #ffa600

Palette
$color1: #232323
$color2: #898484
$color3: #AEB5DB
$color4: #484898
$color5: #288582
$color6: #FF6E54
$color7: #FABD44
