
$color1: rgba(38, 70, 83, 1);
$color2: rgba(42, 157, 143, 1);
$color3: rgba(233, 196, 106, 1);
$color4: rgba(244, 162, 97, 1);
$color5: rgba(231, 111, 81, 1);

$color1: rgba(61, 49, 91, 1);
$color2: rgba(68, 75, 110, 1);
$color3: rgba(112, 139, 117, 1);
$color4: rgba(154, 184, 122, 1);
$color5: rgba(248, 249, 145, 1);

$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);

$color1: rgba(5, 102, 141, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(0, 168, 150, 1);
$color4: rgba(2, 195, 154, 1);
$color5: rgba(240, 243, 189, 1);

$color1: rgba(216, 145, 45, 1);
$color2: rgba(236, 167, 64, 1);
$color3: rgba(244, 202, 69, 1);
$color4: rgba(129, 170, 107, 1);
$color5: rgba(30, 33, 43, 1);

Palette
$color1: rgba(30, 33, 43, 1);
$color2: rgba(65, 40, 120, 1);
$color3: rgba(75, 80, 170, 1);
$color4: rgba(2, 128, 144, 1);
$color5: rgba(2, 195, 154, 1);
$color6: rgba(248, 249, 145, 1);
$color7: rgba(244, 202, 69, 1);
$color8: rgba(236, 167, 64, 1);
$color9: rgba(231, 76, 81, 1);
